/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: Impact;
}

body {
    margin: 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/* nav */

.main-nav-container {
    background-color: #ff7f00;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}

.main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav>li>a {
    text-align: center;
    color: white;
    margin-right: 50px;
}

.main-container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    font-size: 1.5rem;
}

main {
    background-color: #e3e3e39e;
}

/* canvas */

.canvas-main-container {
    display: flex;
    justify-content: space-between;
}

.canvas-container {
    margin-right: 20px;
}

/* editor controls */

.editor-container * {
    border-radius: 8px;
    margin-right: 10px;
}

.editor-container {
    width: 100%;
}

.editor-container button {
    font-size: 2rem;
    width: 3.75rem;
    padding: 0.75rem;
    background-color: white;
    border: 0;
}

.decrease-btn::after {
    content: '\f068';
    vertical-align: top;
    font-size: 0.625rem;
}

.increase-btn::after {
    content: "\f067";
    vertical-align: top;
    font-size: 0.625rem;
}

.storke-color-btn::before {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.storke-color-btn::after {
    content: "\f1fc";
    vertical-align: top;
    font-size: 0.925rem;
}

.stroke-picker {
    display: inline-block;
    position: relative;
    margin: 0;
}

.color-picker {
    display: inline-block;
    position: relative;
}

#color {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.75rem;
}

.font-fam {
    width: 160px;
    height: 60px;
    background-color: white;
}

.export-btns-container button {
    font-size: 1.25rem;
    width: 120px;
    height: 60px;
}

.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-input-container {
    flex-grow: 0.5;
    width: 100%;
}

.txt-input {
    font-size: 1.25rem;
    align-self: stretch;
    padding: 1rem;
    width: 100%;
}

.txt-style-container {
    display: flex;
    flex-grow: 2;
    margin: 0;
}

.line-btns-container {
    flex-grow: 1;
}

.txt-align-container {
    flex-grow: 0.5;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 10px;
}

.gallery-container img {
    width: 100%;
    /* height:200px; */
}

.footer-container {
    background-color: #ff7f00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

/* mobile nav */

.menu-btn {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(233, 233, 233);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width:740px) {
    .main-container {
        max-width: 600px;
    }
    .canvas-main-container {
        flex-direction: column;
    }
    .canvas-container {
        width: 100%;
    }
    .editor-container * {
        margin-bottom: 0.5rem;
        margin-right: 2px;
    }
    .txt-style-container {
        width: 100%;
        justify-content: space-evenly;
    }
    .main-nav {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        background-color: #ff7f00;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
        min-width: 230px;
        opacity: 0;
        transform: translate(-6%, 22%);
        width: 100vh;
        display: none;
        /* transition: transform .8s, box-shadow .3s, opacity .5s, visibility .5s; */
    }
    .menu-open .main-nav {
        translate: (-6%, 24%);
        opacity: 1;
        display: flex;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    }
    .menu-btn {
        display: inline-block;
    }
    .main-nav>li {
        padding: 50px;
        font-size: 2rem;
    }
    .main-nav>li:not(:last-child) {
        border-bottom: 3px solid white;
    }
}

.text-width-calculator {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: auto;
    white-space: nowrap;
    top: -100%;
}